body{
    background-color: rgb(27%, 79%, 274%);
    
}
header{
    font: normal 22px Arial;
    color: black;
    text-align: center;
    font-size: 22px;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    width: 1300px;
    margin: auto;
    font-size: 22px;
    text-align: justify;
}
footer{
    text-align: center;
    font: normal 22px Arial Black;
}
h1{
    text-align: center;
}
div#autor{
    padding-left: 1000px;
}